forecasting_with_ARIMA.py
trained_model_file
images_from_training
model_22.pkl
AirPassengers.csv
AirQualityUCI
univariate_data_for_prediction/figure_from_code
univariate_data_for_prediction/image_folder
.ipynb_checkpoints
*/.ipynb_checkpoints/*
change_column.ipynb
data_prediction_of_PowerPlant/__pycache__
data_prediction_of_PowerPlant/.idea
data_prediction_of_PowerPlant/__init__.py
data_prediction_of_PowerPlant/image_folder
**/image_folder
**/image_folder_local
**/image_folder_local_outlier
**/image_folder_1
**/test_folder
**/__pycache__
**/.idea

notebook_file_data_prediction/HelloFresh_scouting.ipynb
notebook_file_data_prediction/code for report.ipynb
notebook_file_data_prediction/creating_test_set.ipynb

*.jpg
*.png
